<!--Essa é a estrutura da loja de padaria em HTML,
    seguir com a construção do layout.
    Faremos uma função com JS para adicionar produtos à prateleira.-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Padaria</title>
    <style>
        .produtoPrateleira{
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
   
    <img class="produtoPrateleira" src="/src/main/resources/pictures/pao-frances.png" alt="pão francês">
</body>
</html>